/* FONT FAMILY */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
  }
@font-face {
    font-family: aschanbold;
    src: url(../fonts/ashcanbb_bold.ttf);
}
@font-face {
  font-family: aschanreg;
  src: url(../fonts/ashcanbb_reg.ttf);
}
@font-face {
  font-family: brandon;
  src: url(../fonts/brandon.otf);
}
@font-face {
  font-family: cambira;
  src: url(../fonts/Cambria.ttf);
}
@font-face {
  font-family: altrincham;
  src: url(../fonts/altrincham.ttf);
}
@font-face {
    font-family: cambirai;
    src: url(../fonts/cambira-italic.ttf);
  }
body{
    font-family: montserrat;
}
/* END FONT FAMILY*/

.site-container{
    width: 90%;
}
.header-nav{
    margin: 10px auto;
    border:2px solid #cdcdc7;

}
.header-nav .nav-social{
    float: right;
}
.header-nav .navs-item{
    width: 60px;
    float: left;
    text-align:center;
}
.header-nav .navs-item.navs-border{
    border-right: 2px solid #cdcdc7;
}
.header-nav .nav-top, .nav-bot{
    height: 53px;
    line-height: 52px;
}
.header-nav .nav-top a{
    font-size: 18px;
    color:#000;
    text-decoration: none;
}
.header-nav .nav-top a.slogan{
    margin-left: 25px;
    font-weight: 700;
    font-family: brandon;
}
/*   ALT MENÜ  */
.header-nav .navb-item{
    float: left;
    text-align: center;
    width: 16.6%;
}
.header-nav .nav-bot {
    border-top: 2px solid #cdcdc7;
}
.header-nav .navb-item:not(:first-child){
    border-left: 2px solid #cdcdc7;
}
.header-nav .nav-bot a{
    color:#000;
    text-decoration: none;
}
.header-nav .nav-bot a:hover{color:#c86309;}
/*   ALT MENÜ SON */
.banner-area img{
    width: 100%;
}

.wrapper-title{
    margin-top: 100px;
    text-align: right;
    font-weight: 700;
    font-family: aschanreg;
}
/* FEATURES */
.features-wrapper{
    margin-top: 80px;
}
.features-wrapper .features-img{
    margin-bottom: 10px;
}
.features-wrapper .features-img img{
    width:100%;
}
.features-wrapper .features-img .manuel-size{
    height: 409px;
    object-fit: cover;
}
.features-wrapper .features-title, .features-wrapper .features-content{
    float: left;
}
.features-wrapper .features-content{
    font-size: 14px;
    font-family: brandon;
}
.coffee-wrap .features-content{
    font-size: 13px;
}
.coffee-wrap .features-title{
    margin-left: 1px;
}
.coffee-wrap .features-img img{
    height: 400px;
    object-fit: cover;
}
.features-wrapper .features-content a{
    color: #c86309;
}
.features-wrapper .features-title{
    width: 100%;
    letter-spacing: 3px;
    font-family: brandon;
    color:#000;
    font-weight: bold;
}
.features-wrapper .features-title.store-title{
    letter-spacing: 1px;
    margin-left: 1px;
}
.features-wrapper .features-title.store-title:hover{
    color:#c86309;
}

.features-out{
    margin-bottom: 30px;
}
/* FEATURES  SON */
.insta-wrapper{
    margin-top: 10px;
    padding:0px 90px;
}
.insta-wrapper .insta-post{
    margin-bottom: 10px;
}
.insta-wrapper .insta-post-img{
    height: 250px;
    background-color: darkolivegreen;
}
.email-subs-wrapper{
    margin:40px 0px;
}
.email-subs-wrapper .email-subs{
    margin:0 auto;
}
.email-subs .email-title{
    display: block;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
}
.email-subs input.email{
    width: 100%;
    background:#EEEEEE;
    border: 0px;
    height: 33px;
    padding-left: 10px;
}
.email-subs .form-wrap{
    padding-left:0px !important; 
    padding-right:0px !important;
}
.email-subs .submit-button{
    height: 33px;
    background: #333;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 0px 10px;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: cambirai;
    margin-bottom: 10px;
    border-top: 1px solid #333;
    padding: 30px 0px;
}
.footer-container a{
    color:#000;
    text-decoration: underline;
}
.footer-container a:hover{
    color:#c86309;
}

/*INDEX 2 */
.buyer-wrapper-img{
    margin-bottom: 10px;
}
.buyer-wrapper-img img{
    width:100%;
    height:400px;
    object-fit: cover;
}

.buyer-wrapper-img.acme img{
    height: 300px;
}
.buyer-wrapper-title, .buyer-wrapper-content{
    display: block;
}
.buyer-wrapper-content{margin-bottom: 40px;}
.buyer-wrapper-title{
    letter-spacing: 4px;
    font-weight: 500;
}
.buyer-wrapper .buyer-select{
    width: 100%;
    float: right;
}
.buyer-wrapper .buyer-select select{
    padding: 10px 20px;
    word-wrap: normal;
    background: #d36b3d;
    color:#fff;
    cursor: pointer;
    float: right;
    margin-left: 5px;
    appearance: none; 
}
.buyer-wrapper .buyer-buy{
    float: right;
}

/*END INDEX 2*/
.button-buy{
    margin-top: 10px;
    background: #fff;
    border:1px solid black;
    color: #000;
    padding: 10px 50px;
}

/*INDEX 3 */
.text-big-row{
    margin-top: 30px;
    margin-bottom: 10px;
}
.price-wrapper{
    height: 585px;
}
.price-wrapper .text-wrap{
    position: absolute;
    right: 0;
    width: 20%;
    text-align: right;
    color: #fff;
    margin-top: 7%;
    margin-right: 5%;
    font-family: altrincham;
}
.price-wrapper .text-wrap.alt-wrap{
    left:20px;
    color:#000;
    transform: translate3d(0%,30%,0);
    margin-top: 0;
    text-align: left;
}

.price-wrapper .text-wrap.alt-wrap p.buy-text{
    font-size: 16px;
}
.price-wrapper .text-wrap h1{text-align: right;}
.price-wrapper .text-wrap p.buy-text{
    line-height: 37px;
    font-size: 14px;
}


.watermark-img{
    position: relative;
}
.watermark-img img{
    width:100%;
    position: absolute;
}
.price-alt .watermark-img img.big-banner{
    height: 500px;
    object-fit: cover;
}
.info-text-wrapper{
    margin-top: 10px;
    width: 95%;
    float: right;
    text-align:right;
}
.info-text-wrapper p.info-text{
    line-height: 35px;
}
.info-big-text{
    font-size: 45px;
    text-align: left;
    font-family: aschanreg;
    font-weight: bold;
}
.info-big-text .big-text-first{
    color:#454444;
}

.prbanner img{
    width: 100%;
}



.cart-wrapper{
    margin:30px 0px;
    padding:0px 80px;
}
.cart-wrapper select{
    width: 100%;
    padding: 20px;
    display: block;
    margin: 0 auto;
}
.cart-wrapper .row:not(:first-child){
    margin-top:30px;
}
.cart-wrapper .button-buy{
    margin-top: 0px;
    width: 100%;
    padding: 20px;
    color:#fff;
    background: #333333;
}
/*END INDEX 3*/


/*Mobile menü*/
.hamburger-menu{
    cursor: pointer;
    font-size: 20px;
}
.mobile-menu{
    width: 250px;
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    left: -250px;
    border-right:2px solid #000000a6;
}
.mobile-menu h6{
    text-align: center;
    background: #000000a6;
    padding: 10px 0px;
    color: white;
}
.mobile-menu .m-menu-item{
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid #ebebeb;
}
.mobile-menu .m-menu-item a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.mobile-menu .menu-close{
    cursor: pointer;
    position: absolute;
    top: 6px;
    width: 30px;
    right: 10px;
    text-align: center;
    height: 27px;
    color: #fff;
}
.mobile-menu-overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
}


/*  FEATURES PAGE */
    .features-banner, .features-text{
        margin-bottom: 70px;
    }
/* END FEATURES PAGE  */ 
.mb-50{
    margin-bottom:50px;
}
.slick-next{
    transform:rotate(180deg);
}