{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 banner-area">
        <img src="assets/img/demlemebanner.jpg" alt="">
    </div>
</div>
<div class="row features-wrapper" id="kahve">
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/kahvelerimiz.jpg">
        </div>
        <div class="features-info">
            <span class="features-title">KAHVELERİMİZ</span>
            <span class="features-content">
                    Genel felsefemiz, kahvenin karşısında mütevazi bir duruş sergilemek.
Kahve tutkumuzu paylaşan ve bu tutkuyu bir üst seviyeye çıkarmak isteyen iş ortakları
arıyoruz! Birlik.... <a href = "featurespage.html">Devamını oku</a>
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/des.jpg" alt="demleme rehberi">
        </div>
        <div class="features-info">
            <span class="features-title">DEMLEME REHBERİ</span>
            <span class="features-content">
                    Taze kavrulmuş bir kahve çekirdeğinin tadını en doğru şekilde ortaya çıkarmak için
ihtiyacınız olan şey, sizi en doğru şekilde yönlendiren bir Demleme Rehberi. Tab... <a href = "featurespage.html">Devamını oku</a> 
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/WORKSHOP.JPG">
        </div>
        <div class="features-info">
            <span class="features-title">WORKSHOP</span>
            <span class="features-content">
                    Amacımız her yerde iyi kahve içilmesini sağlamak. Siz de evinizde iyi kahve içmek ve en
                    doğru şekilde en lezzetli kahveleri demlemek istiyorsanız, bu Workshop tam sizlik!
                    Yaklaşı... <a href = "featurespage.html">Devamını oku</a> 
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/YAKLAŞIMIMIZ.JPG">
        </div>
        <div class="features-info">
            <span class="features-title">YAKLAŞIMIMIZ</span>
            <span class="features-content">
                Petra Roasting Co. 2013 yılında, işini ciddiye alan küçük ve tutkulu bir ekiple kuruldu.
                Ailemiz büyürken tutkumuzu paylaşan kahve sever  severler, tanıdık yüzler hal...
                <a href = "featurespage.html">Devamını oku</a>
            </span>
        </div>
    </div>
</div>
<div class="wrapper-title"><i class="fa fa-instagram"></i></div>
<div class="row insta-wrapper">
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
    <div class="col-6 col-md-4 insta-post">
        <div class="insta-post-img"></div>
    </div>
</div>
<div class="wrapper-title">KAFELERİMİZ</div>
<div class="row features-wrapper features-kafe" id="dukkan">

    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/dukkan1.JPG" alt="">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2X1EY6u">
                <span class="features-title store-title">GAYRETTEPE HQ </span>
            </a>
            <span class="features-content">
                    Salı — Cuma 08.00 - 20.00<br>
                    Hafta sonu 10.30 - 19.00<br>
                    
                    (PAZARTESİ KAPALI)
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/dukkan4.JPG">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2VJq57w">
                <span class="features-title store-title">KANYON KIOSK</span>
            </a>
            <span class="features-content">
                    Hafta içi 07.30 - 22.00<br>
                    Hafta sonu 10.00 - 22.00
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src = "assets/img/dukkan2.jpg">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2YF6VBi">
                <span class="features-title store-title">PETRA TOPAĞACI </span>
            </a>
            <span class="features-content">
                    Hafta içi 08.00 - 20.00<br>
                    Hafta sonu 10.00 - 20.00
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/dukkan5.JPG">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2wbEn6u">
                <span class="features-title store-title">KOLEKTIF HOUSE 42 MASLAK </span>
            </a>
            <span class="features-content">
                    Hafta içi 09.00 - 18.00<br>
                    (HAFTA SONU KAPALI)
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/dukkan6.JPG">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2wbEn6u">
                <span class="features-title store-title">KOLEKTIF HOUSE LEVENT </span>
            </a>
            <span class="features-content">
                Hafta içi 09.00 - 18.00<br>
                    (HAFTA SONU KAPALI)
            </span>
        </div>
    </div>
    <div class="col-md-3 col-6 features-out">
        <div class="features-img">
            <img src="assets/img/dukkan3.JPG">
        </div>
        <div class="features-info">
            <a href="https://bit.ly/2JyFxSd">
                <span class="features-title store-title"> MASLAK </span>
            </a>
            <span class="features-content">
                    Hafta içi 07.30 - 19.00<br>
                    Hafta sonu 10.30 - 19.00
            </span>
        </div>
    </div>
    
</div>
<div class="row email-subs-wrapper">
    <div class = "col-md-6 col-6 email-subs">
        <span class="email-title">ARAYI AÇMAYIN</span>
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-10 form-wrap">
                    <input type="text" class="email" name="email-subs" id="" placeholder="E-posta">
                </div>
                <div class="form-group col-md-2 form-wrap">
                    <button type="submit" class="submit-button">ÜYE OL</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}