<!DOCTYPE html>
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Petra</title>

    <link rel="stylesheet" href="assets/css/bootstrap-4.3.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome-5.8.min.css">
    <link rel="stylesheet" href="assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="assets/pl ugins/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    
</head>
<body>
    {% include "inc/navbar.html" %}
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>
  
     {% include "inc/footer.html" %}


    <!-- SCRIPT FILES -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap-4.3.1.min.js"></script>
    <script src="assets/js/mobile-menu.js"></script>
    <script src="assets/plugins/slick/slick.min.js"></script>

</body>
</html>
