<div class="footer-container">
    <span class="footer-text">
        Hoşsohbet Sk. Panorama Selenium Residence Mağaza 1 Gayrettepe İstanbul Turkey <br>
        T. +90 212 356 1053 · E. <a href="mailto:hello@petracoffee.com">hello@petracoffee.com</a> · <a href="/pages/gizlilik-ilkeleri">Gizlilik İlkeleri</a> · <a href="/pages/uyelik-sozlesmesi">Üyelik Sözleşmesi </a> · <a href="mailto:hello@petracoffee.com">İş Başvuruları </a>
    </span>
</div>