    <!-- Begin menu -->
    <div class="mobile-menu hide-on-desktop">
        <h6>Menü</h6>
        <div class = "menu-close">
            <i class="fa fa-close"></i>
        </div>

        <div class="m-menu-item">
            <a href="#kahve">KAHVE</a>
        </div>
        <div class="m-menu-item">
            <a href="#">JURNAL</a>
        </div>
        <div class="m-menu-item">
            <a href="#dukkan">DÜKKAN</a>
        </div>
        <div class="m-menu-item">
            <a href="#">TOPTAN SATIŞ</a>
        </div>
        <div class="m-menu-item">
            <a href="#">LOKASYONLAR</a>
        </div>
        <div class="m-menu-item">
            <a href="#">GİRİŞ YAP</a>
        </div>
    </div>
    <div class = "mobile-menu-overlay">
        
    </div>
    <div class="site-container header-nav">
        <div class="nav-top">
            <a href="#" class="slogan">PETRA ROASTING CO.</a>
            <div class="nav-social">
                <div class = "navs-item hide-on-mobile navs-border">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class = "navs-item hide-on-mobile">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div class = "navs-item hamburger-menu">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="nav-bot">
            <div class="navb-item">
                <a href="#kahve">KAHVE</a>
            </div>
            <div class="navb-item">
                <a href="#">JURNAL</a>
            </div>
            <div class="navb-item">
                <a href="#dukkan">DÜKKAN</a>
            </div>
            <div class="navb-item">
                <a href="#">TOPTAN SATIŞ</a>
            </div>
            <div class="navb-item">
                <a href="#">LOKASYONLAR</a>
            </div>
            <div class="navb-item">
                <a href="#">GİRİŞ YAP</a>
            </div>
        </div>
    </div>
    <!-- End menu -->